.container{
/* border: 1px solid red; */
height: 70vh;
display: flex;
justify-content: center;
}
.wrapper{
width: 50%;
display: flex;
/* border: 1px solid red; */
align-items: center;
color: white;
}
.link{
    margin-left: 20px;
    text-decoration: none;
    color: white;
}